#emojiSuggestionsContainer::-webkit-scrollbar {
    display: none !important;
}

#emojiSuggestionsContainer button:focus {
    background: rgb(219, 219, 219) !important;
    border: none !important;
    outline: 0 !important;
}

#emojiSuggestionsContainer button::-moz-focus-inner {
    background: rgb(219, 219, 219) !important;
    border: none !important;
    outline: 0 !important;
}
